*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #eeeeee;
}
.w{
    width: 1358px;
    margin: 0 auto;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
    vertical-align: middle; 
}
.clearfix:after{
    visibility: hidden;
    clear: both;
    display: block;
    content: "";
    height: 0;
}
.clearfix{
    *zoom: 1; 
}
em,i{
    font-style: normal;
}